* {
    box-sizing: border-box;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    background-color: white;
    padding: 0;
    padding: 0;
  }

  .start-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  
  header {
    text-align: center;
    display: inline flex;
    margin: 0px;
  }
  
  h1 {
    float: left;
    margin-top: 0px;
    padding-top: 0px;
  }

  nav a {
    font-size: 14px;
    text-decoration: none;
    font-weight: lighter;
    color: purple;
  }

  nav a:hover {
    cursor: pointer;
    font-weight: bold;
}

  h2 {
    float: right;
    margin-top: 25px;
    font-size: 14px;
    font-weight: lighter;
  }

  .quiz-container,
  .completed-container {
    margin: auto;
    width: 700px;
    max-width: 80%;
    background-color: none;
    border-radius: 5px;
    padding: 20px 50px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .btn-grid {
    display: grid;
  }
  
  #start-btn {
    margin-right: 150px;
  }
  
  .btn {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
    background-color: purple;
    border: 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: lightgray;
    color: purple;
    border: 1px;
    border-color: black;
    border-style: solid;
  } 

  .start-btn,
  .next-btn,
  .score-btn {
    width: 100px;
    margin: 6px;
    font-weight: bold;
    font-size: 1.5vw;
  }

  #done-container {
    text-align: center;
  }

  #enter-initials-box {
    display: flex;
    justify-content: center;
  }
  
  .initial-box {
    height: 50px;
    margin: 0;
  }

  input {
    height: 50px;
    width: 150px;
    padding-left: 5px;
  }
  
  input::placeholder {
    font-size: medium;
  }
  
  #complete-submit.btn {
    margin-top: 2px;
    margin-left: 35px;
    width: 100px;
  }
  
  .hide {
    display: none;
  }

  